<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/deed.ja">
          <img alt="creative commons logo" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
        </a>
        <br />
        <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName"><%=config.author %></span> <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"> Licensed under creative commons license.      </p>
    </div>
  </div>
</footer>
